body {
    background-color: #F9722E;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
}

h1 {
    font: menu;
    font-size: 45px;
    font-stretch: ultra-expanded;
    font-family: "Raleway", sans-serif;
    text-align: "center";
}
h2 {
    font-style: italic;
    text-align: center;
}

table { 
    border: 1px solid #1094A0;
 }
thead {
     background-color: #e1e1e1;
     }
tfoot {
     background-color: #000; color: #fff;
     }


/*colour palette
*
* 65D1DB
* 1094A0
* F9722E
* C14128
* 0D0E08
*
*/